<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Doug System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Página Inicial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/about">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/produtos">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categorias">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/usuarios">Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/perfis">Perfis</a>
                </li>
                
            </ul>
            <ul class="navbar-nav ml-auto">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">Login</a>
                    </li>
                }
                else
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Olá @User.Identity.Name
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @*<li><a class="dropdown-item right" asp-action="MeuPerfil" asp-controller="Usuarios">Trocar Senha</a></li>*@
                            <li><a class="dropdown-item" asp-action="MeuPerfil" asp-controller="Usuarios">Trocar Senha</a></li>

                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-action="LogOff" asp-controller="auth">LogOff</a></li>
                        </ul>
                    </li>
                }                

            </ul>
             
        </div>
    </div>
</nav>