<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Cadastro de Clientes</title>

    <link href="~/css/Estilo.css" rel="stylesheet" />
    <link href="~/css/Tabela.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <ul>
            <li><a id="menuHome" href="/">Home</a></li>
            <li><a id="menuClientes" href="/clientes">Clientes</a></li>
            <li><a id="menuAbout" href="/home/about">Sobre</a></li>
            
        </ul>  
        
        
    </nav>
    <Main>
        @RenderBody()
    </Main>
    <footer>
        <h1>by Doug</h1>
    </footer>
    <script src="~/js/Menu.js"></script>
    
</body>

</html>